 The Tools Project: a Tools System and Paradigm for IT Production
 doc/cft/cft.service

-----------------------------------------------------------------------
 Summary
 =======

   Monitor service configuration
     id
     setenv
     listcatf

-----------------------------------------------------------------------
 Monitor service configuration
 =============================

 The service is defined as:

   CFT	: id		: CFT Monitor
   CFT	: setenv	: . /odyssee/pprd/logiciels/cft/Transfer_CFT/runtime/profile
   CFT	: setenv	: export CFTDOC=/home/pierre/eclipse/Tools/v2/doc/cft/cft-2.7
   CFT	: listcatf	: cat ${CFTDOC}/cftutil_listcat_full

 This service must be started locally on the server, with the right
 'cft' account.

 The first keyword of the line, here 'CFT', is the service mnemonic.

 This same service mnemonic must be used in all environments, even if
 some implementation details are different - this is why these
 configuration files are designed for (to document and implement
 configuration differences between environments).

 The service mnemonic may be recalled later in the same line by using
 the '@S' macro.

   id
   --

   'id' identifies the ligne as a service; is mandatory.

   setenv
   ------

   'setenv' keyword is used by the cftSetEnv function in order to setup
   the running environment.
   More than one 'setenv' lines may be specified, and will be evaluated
   in order.
   Tough not strictly mandatory, it should be obvious that no CFT
   command will be runnable if at least PATH is not set here.

   listcatf
   --------

   'listcatf' is used in the development environment where we do not
   have a real running CFT monitor; it substitutes itself to the
   standard 'CFTUTIL LISTCAT CONTENT=FULL' command.
   This command may be used in conjonction with 'setenv' line in order
   to address the CFTDOC path.
   If this line is not found (which should be the case in a 'real'
   environment, then the standard 'CFTUTIL LISTCAT CONTENT=FULL'
   command is run instead.

-----------------------------------------------------------------------
 Pierre Wieser - Jan. 2013
 $Id: cft.service 3236 2013-07-03 20:22:28Z  $
