 The Tools Project: a Tools System and Paradigm for IT Production
 docs/cft/cft.service

-----------------------------------------------------------------------
 Summary
 =======

   Concepts
   Service configuration
     service
     setenv
     listcatf
   Specific macros

-----------------------------------------------------------------------
 Concepts
 ========

 Manage a Cross File Transfer (CFT) monitor instance.

-----------------------------------------------------------------------
 Service configuration
 =====================

 The service is defined as:

   <service>	: service		: cft				: <label>
   <service>	: start			: [<account>]		: <start_command_line>
   <service>	: stop			: [<account>]		: <stop_command_line>
   <service>	: test			: [<account>]		: <test_command_line>
   <service>	: setenv		: . /odyssee/pprd/logiciels/cft/Transfer_CFT/runtime/profile
   <service>	: setenv		: export CFTDOC=/home/pierre/eclipse/Tools/v2/doc/cft/cft-2.7
   <service>	: listcatfull	: cat ${CFTDOC}/cftutil_listcat_full

 This service must be started locally on the server, with the right
 'cft' account.

 The first keyword of the line, here 'CFT', is the service mnemonic.

 As a recall: this same service identifier identifies this CFT service
 through all the environments, and must be used identical in all
 environments, even if some implementation details are different - this
 is why these configuration files are designed for (to document and
 implement configuration differences between environments).

 As another recall: the service mnemonic may be recalled later in the
 same service definition by using the '@S' macro.

   service
   -------
   'service' identifies the ligne as a service; is mandatory.
   - the 'cft' word indicates a cft-type service.
   - the label in fourth position is simply used as a label and is free
     (but should not be left empty).

   setenv
   ------
   'setenv' defines a command to be executed in the current environment
   of each cft.sh verb.
   Several 'setenv' lines may be defined.

   listcatfull
   -----------
   Replacement for the "CFTUTIL listcat content=full" command.
   To be used in development environments where we do no have a running
   CT monitor.

   listcatbrief
   ------------
   Replacement for the "CFTUTIL listcat content=brief" command.
   To be used in development environments where we do no have a running
   CFT monitor.

-----------------------------------------------------------------------
 Specific macros
 ===============

 none

-----------------------------------------------------------------------
 P. Wieser - Created on 2013, jan. 9th
             Last updated on 2017, jun. 21st
