# @(#) TTP Bootstrapping - Bash sample setup
#
# The Tools Project: a Tools System and Paradigm for IT Production
# Copyright (©) 2003-2017 Pierre Wieser (see AUTHORS)
#
# The Tools Project is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of the
# License, or (at your option) any later version.
#
# The Tools Project is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with The Tools Project; see the file COPYING. If not,
# see <http://www.gnu.org/licenses/>.
#
# Synopsis:
#
#   Initialize PATH and FPATH variables.
#   Setup the initial default execution node.
#   Address the main functions directory.
#
#   This script is supposed to be sourced from inside a bash- or a
#   korn-derived login shell profile:
#
#     # Initialize The Tools Project
#     TTP=/opt/trychlos.pwi/Tools; . ${TTP}/libexec/bootstrap/bash_setup
#
#   The Tools Project bootstrapping process actually involves two
#   distinct steps :
#
#   - initialize the PATH and FPATH variables, which has to be run once,
#     in a decreasing order of precedence, for each TTPROOT tree the
#     user may want consider
#
#   - setup an initial execution node, which has to be run once only.
#
# pwi 2017- 6-22 creation

# replace here '/dir' with your own TTPROOT pathname
# this may be called several times
TTP=/dir1; . ${TTP}/tools/libexec/bootstrap/sh_profile
#TTP=/dir2; . ${TTP}/tools/libexec/bootstrap/sh_profile

# setup the initial node (once)
if [ ! -z "${BASH_VERSION}" ]; then
	. ${TTP}/tools/libexec/bootstrap/bash_node
elif [ ! -z "${KSH_VERSION}" ]; then
	. ${TTP}/tools/libexec/bootstrap/ksh_node
else
	echo "[TTP] ${SHELL}: unamanaged shell, unable to setup TTP initial node" 1>&2
fi

# if the site wants the 'logical machine' paradigm
export TTP_SHDIR="${TTP}/libexec/sh"

unset TTP
